# OWASP: Deny access to all files in root - only public/ is the document root
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Deny access to sensitive files
<FilesMatch "\.(env|json|lock|md|log|xml|dist|yml|yaml)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Deny access to hidden files
<FilesMatch "^\.">
    Order Allow,Deny
    Deny from all
</FilesMatch>
